p{
    color:blue !important;
    background-color:yellow;
    width: 100%;
}
.principal{
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    padding-right: 30px;
}


body{
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;

}
body:active{
    flex-direction: row-reverse;
}
.viewport{ 
    max-width: 299px;
    margin-right: 40px;
    display: none;
}
h3{
    display:none;
}
@media only screen and (max-width:550px) {
    p{
        display:none;
    }
    h2{
        display:none;
    }
    h3{
        display:block;
    }
    img{
        display:none;
    }
    .viewport{
        display: flex;
    }
}
h2:hover{
    font-size: 180%;
}
img:hover{
    filter: grayscale(1);
}
img:active{
    box-shadow: inset 0 0 0 rgb(27, 25, 25), 0px 10px 25px -10px #222;
}